
.card-product{
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.card-product img{
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-product > section{
  width: 100%;
  padding: 10px;
}

.search{
  border-radius: 10px;
  width: 20%;
  border: 1px solid #000;
  background-color: #fff;
}

.search>input {
  width: 75%;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .search{
    width: 75%;
    border: 1px transparent;
  }
  .search > input{
    background-color: transparent;
    border: none;
  }
}