.search {
  border-radius: 10px;
  width: 20%;
  border: 1px solid #000;
  background-color: #fff;
}

.search>input {
  width: 75%;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .search {
    width: 75%;
    border: 1px transparent;
  }

  .search>input {
    background-color: transparent;
    border: none;
  }
}